[Unit]
Description=Adm. Capture

[Service]
ExecStart=/usr/bin/docker run --name=%p_%i -P hq.stepshape.com/capture
ExecStopPost=/usr/bin/docker rm %p_%i

[X-Fleet]
X-Conflicts=adm-capture@nr.*.service