[Unit]
Description=Adm. NSQ Lookupd - Address
BindsTo=adm.nsqlookupd@nr.1.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "while true; do sleep 45;done"
ExecStartPost=/usr/bin/etcdctl set /services/nsq/nsqlookupd.1.addr ${COREOS_PRIVATE_IPV4}
ExecStop=/usr/bin/etcdctl rm /services/nsq/nsqlookupd.1.addr

[X-Fleet]
X-ConditionMachineOf=adm.nsqlookupd@nr.1.service