[Unit]
Description=Adminibar Monitoring - Announcer
BindsTo=adm.monit@nr.1.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "while true; do etcdctl set /services/adm/%p.1.port `docker port adm.monit_nr.1 80 | awk \'{split($0,a,\":\"); print a[2]}\'` --ttl 60;sleep 45;done"
ExecStartPost=/usr/bin/etcdctl set /services/adm/%p.1.addr ${COREOS_PRIVATE_IPV4}
ExecStop=/usr/bin/etcdctl rm /services/adm/%p.1.port
ExecStopPost=/usr/bin/etcdctl rm /services/adm/%p.1.addr

[X-Fleet]
X-ConditionMachineOf=adm.monit@nr.1.service