[Unit]
Description=Adminibar Monitoring - Announcer
BindsTo=adm.monit@nr.2.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "while true; do etcdctl set /services/adm/%p.2.port `docker port adm.monit_nr.2 80 | awk \'{split($0,a,\":\"); print a[2]}\'` --ttl 60;sleep 45;done"
ExecStartPost=/usr/bin/etcdctl set /services/adm/%p.2.addr ${COREOS_PRIVATE_IPV4}
ExecStop=/usr/bin/etcdctl rm /services/adm/%p.2.port
ExecStopPost=/usr/bin/etcdctl rm /services/adm/%p.2.addr

[X-Fleet]
X-ConditionMachineOf=adm.monit@nr.2.service